@import '../../../scss/greenTheme/greenTheme';

$logoHeight: 64px;
$marginLogo: 12px;
.header-container {
    box-shadow: 0 1px 6px 1px #000;
    background: $bg-header;
    box-sizing: border-box;
    display: flex;

    .header-logo {
        position: relative;
        z-index: 1000;

        .title {
            height: inherit;
            display: flex;
            flex-grow: 1;
            align-items: center;

            a.home {
                cursor: pointer;
                text-decoration: none;
                display: contents;
                color: $header-button;
                font-size: xx-large;
                font-weight: 800;
                
                .logo {
                    height: $logoHeight;
                    margin: $marginLogo;
                }

                span {
                    box-sizing: border-box;
                    height: inherit;
                }
            }
        }

        .wellcome {
            margin-left: $marginLogo;
            margin-bottom: $marginLogo / 2;
            color: $header-button;
        }
    }

    .menuRight {
        flex-grow: 3;
        justify-content: flex-end;
        height: inherit;
        background: transparent;
        padding: 0;
        width: inherit;
        color: $header-button;

        ul {
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            height: 100%;

            li {
                list-style: none;
                height: inherit;
                padding: 0px 20px;
                
                a.navButton,
                a.navButtonSelected {
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    color: inherit;
                    text-decoration: none;
                    height: inherit;

                    .navText {
                        font-size: $headerButtonSize;
                        margin-left: 5px;
                        font-weight: 400;
                    }

                    .navIcon {
                        height: $imageButtonSize;
                        width: $imageButtonSize;
                        font-size: xx-large; 
                    }
                }
            
                &.selected {
                    background: $bg-header-hover; 
                }

                &.disabled a {
                    color: $font-disabled;
                }
            }
        }
    }

    .hover {
        background: $bg-header-hover;
    }
}