@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';

@import './scss/greenTheme/greenTheme.scss';

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Roboto, sans-serif;
}

app-root {
    display: block;
    margin: 0;
    padding: 0;
    height: 100%;
}

