// BACKGRUND
$bg-white: #fff;
$bg-color: #d8f3dc;
$bg-header: #2d6a4f;
$bg-header-hover: #1b4332;
$bg-table-hover: #52b788;
$bg-table-row-even: #b7e4c7;
$bg-table-header: #40916c;
$bg-checkbox-hover: #52b788;
$bg-tab: #52b788;

// FONT
$font-color: #081c15;
$font-disabled: #40916c;
$header-button: #fff;
$font-table-header: #fff;
$font-table-cell: #081c15;
$font-title-detail: #1b4332;
$font-title-tab: #40916c;
$font-tab-selected: #1b4332;
$font-labels: #2d6a4f;

// BORDER
$border-resise-column: #2d6a4f;
$border-column: #95d5b2;
$border-column-header: #2d6a4f;

// TOOLBAR
$toolbar-button-color: #40916c;
$toolbar-button-color-hover: #1b4332;
$toolbar-button-color-disabled: #95d5b2;
$toolbar-separator: #74c69d;